---
layout: default
---

<!-- Page header -->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2 class="display-2"><br>{{ page.title }}</br></h2>
    <div class="lead">
      {{ page.jumbo_txt | markdownify }}
    </div>
  </div>
</div>

<!-- Publication page content -->
 
<div class="container">
  <!-- This next enumerates all publications listed in publications.yml by category. -->
  <div class="row">
    <div class="col">
      {% include list_publications.html header_level="5" %}
    </div>
  </div>

</div>
