---
layout: default
---

<!-- Page header -->
<div style="background:transparent !important" class="jumbotron jumbotron-fluid">
  <div class="container">
    <h3 class="display-6"><strong>{{ page.title }}</strong></h3>
    {% if page.jumbo_txt %}
      <div class="lead"> {{ page.jumbo_txt | markdownify }} </div>
    {% endif %}
  </div>
</div>

<!-- Publication page content -->
 
<div class="container">
  <!-- This first row will contain a bit of explanatory text about how this page is organized and a table w/icon explanations. -->
  <div class="row">
    <!-- Icon definitions table -->
    <!-- <div class="col"> -->
      <div class="card" id="iconography-table" style="width: 60rem;">
        <div class="card-body">
          <h6 class="card-title">Iconography</h6>
          <table class="table table-sm">
            <thead class="thead-dark">
            </thead>
            <tbody>
              <tr>
                <th scope="row">{{ site.data.icons.venue_journal_icon }}</th>
                <td>Journal Publication</td>
              </tr>
              <tr>
                <th scope="row">{{ site.data.icons.venue_conference_icon }}</th>
                <td>Conference Publication</td>
              </tr>
              <tr>
                <th scope="row">{{ site.data.icons.venue_workshop_icon }}</th>
                <td>Workshop Publication</td>
              </tr>
              <tr>
                <th scope="row">{{ site.data.icons.venue_book_icon }}</th>
                <td>Book Section/Chapter</td>
              </tr>
              <tr>
                <th scope="row">{{ site.data.icons.venue_preprint_icon }}</th>
                <td>Preprint</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    <!-- </div> -->
  </div>
  <!-- This next enumerates all publications listed in publications.yml by category. -->
  <div class="row">
    <div class="col">
      {% include list_publications.html header_level="5" %}
    </div>
  </div>

</div>
